# 1.DATA_COLLECTION?
# DATA FROM KAGGLE
# Mutual Funds India prediction.csv

In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("Mutual Funds India prediction.csv")

In [4]:
dataset

,scheme_name,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,fund_manager,sortino,alpha,sd,beta,sharpe,risk_level,amc_name,rating,category,sub_category,returns_1yr,returns_3yr,returns_5yr
0,Aditya Birla SL Active Debt Multi-Mgr FoF-Dir ...,100,100,0.27,10,10,Kaustubh Gupta,0.32,2.24,9.39,0.01,0.24,3,Aditya Birla Sun Life Mutual Fund,3,Other,FoFs Domestic,4.0,6.5,6.9
1,Aditya Birla SL Arbitrage Fund,1000,1000,0.36,4288,10,Lovelish Solanki,1.33,1.53,0.72,0.56,1.1,1,Aditya Birla Sun Life Mutual Fund,3,Hybrid,Arbitrage Mutual Funds,5.6,4.8,5.5
2,Aditya Birla SL Asset Allocator FoF-Dir Growth,1000,1000,0.53,157,10,Vinod Narayan Bhat,3.44,2.67,10.58,0.67,1.42,5,Aditya Birla Sun Life Mutual Fund,3,Other,FoFs Domestic,2.0,18.9,9.7
3,Aditya Birla SL Bal Bhavishya Yojna â€“ Dir Growth,500,1000,0.76,637,4,Atul Penkar,2.18,-6.37,14.99,0.85,0.9,6,Aditya Birla Sun Life Mutual Fund,2,Solution Oriented,Childrens Funds,-0.7,17.1,NaN
4,Aditya Birla SL Balanced Advantage Fund,100,100,0.61,6386,10,Mohit Sharma,3.69,1.99,10.38,0.68,1.39,6,Aditya Birla Sun Life Mutual Fund,4,Hybrid,Dynamic Asset Allocation or Balanced Advantage,4.5,18.6,9.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,DSP Arbitrage Fund,500,500,0.35,1238,5,Kedar Karnik,1.08,1.45,0.72,0.64,0.82,1,DSP Mutual Fund,3,Hybrid,Arbitrage Mutual Funds,5.6,4.6,5.4
145,DSP Banking & Psu Debt Fund,500,500,0.33,2463,10,Vikram Chopra,1.59,4.78,1.87,2.4,0.84,2,DSP Mutual Fund,3,Debt,Banking and PSU Mutual Funds,4.0,6.4,6.9
146,DSP Bond Fund,500,500,0.39,333,10,Vivek Ramakrishnan,0.98,1.17,2.36,1.02,0.62,3,DSP Mutual Fund,3,Debt,Medium Duration Funds,3.8,6.1,4.9
147,DSP Corporate Bond Fund,500,500,0.25,2065,5,Vivek Ramakrishnan,0.59,0.76,2.16,0.73,0.45,3,DSP Mutual Fund,2,Debt,Corporate Bond Mutual Funds,2.6,5.6,NaN
148,DSP Credit Risk Fund,500,500,0.38,210,10,Laukik Bagwe,1.23,2.84,4.32,0.26,0.58,4,DSP Mutual Fund,3,Debt,Credit Risk Funds,10.8,6.6,4.5

In [32]:
dataset =dataset.drop(["scheme_name","sub_category","category","amc_name","fund_manager"], axis =1)

In [33]:
dataset.columns

Index(['min_sip', 'min_lumpsum', 'expense_ratio', 'fund_size_cr',
       'fund_age_yr', 'sortino', 'alpha', 'sd', 'beta', 'sharpe', 'risk_level',
       'rating', 'returns_1yr', 'returns_3yr', 'returns_5yr'],
      dtype='object')

In [34]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   min_sip        149 non-null    int64
 1   min_lumpsum    149 non-null    int64
 2   expense_ratio  149 non-null    float64
 3   fund_size_cr   149 non-null    int64
 4   fund_age_yr    149 non-null    int64
 5   sortino        149 non-null    object
 6   alpha          149 non-null    object
 7   sd             149 non-null    object
 8   beta           149 non-null    object
 9   sharpe         149 non-null    object
 10  risk_level     149 non-null    int64
 11  rating         149 non-null    int64
 12  returns_1yr    149 non-null    float64
 13  returns_3yr    149 non-null    float64
 14  returns_5yr    149 non-null    float64
dtypes: float64(4), int64(6), object(5)
memory usage: 17.6+ KB

In [50]:
dataset["expense_ratio"].value_counts()

expense_ratio
0.39    7
0.22    4
0.31    4
0.21    3
0.36    3
       ..
0.41    1
0.65    1
0.30    1
0.72    1
0.25    1
Name: count, Length: 99, dtype: int64

# Data Preprocessing

In [51]:
#total null values
# returns_3yr=3
# returns_5yr=33     
dataset.isnull().sum()

min_sip          0
min_lumpsum      0
expense_ratio    0
fund_size_cr     0
fund_age_yr      0
sortino          0
alpha            0
sd               0
beta             0
sharpe           0
risk_level       0
rating           0
returns_1yr      0
returns_3yr      0
returns_5yr      0
dtype: int64

In [52]:
dataset["returns_3yr"].fillna(0,inplace=True)
dataset["returns_5yr"].fillna(0,inplace=True)

In [53]:
#t returns the first few rows of the dataset, which is useful for quickly inspecting the contents of a DataFrame.
#use dataset.head() with a pandas DataFrame:
dataset.head()

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,sortino,alpha,sd,beta,sharpe,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
0,100,100,0.27,10,10,0.32,2.24,9.39,0.01,0.24,3,3,4.0,6.5,6.9
1,1000,1000,0.36,4288,10,1.33,1.53,0.72,0.56,1.1,1,3,5.6,4.8,5.5
2,1000,1000,0.53,157,10,3.44,2.67,10.58,0.67,1.42,5,3,2.0,18.9,9.7
3,500,1000,0.76,637,4,2.18,-6.37,14.99,0.85,0.9,6,2,-0.7,17.1,0.0
4,100,100,0.61,6386,10,3.69,1.99,10.38,0.68,1.39,6,4,4.5,18.6,9.7

In [54]:
quan=[]
qual=[]
for columnName in dataset.columns:
    print(columnName)
    if(dataset[columnName].dtype=='O'):
        print("qual")
        qual.append(columnName)
    else:
        print("quan")
        quan.append(columnName)

min_sip
quan
min_lumpsum
quan
expense_ratio
quan
fund_size_cr
quan
fund_age_yr
quan
sortino
qual
alpha
qual
sd
qual
beta
qual
sharpe
qual
risk_level
quan
rating
quan
returns_1yr
quan
returns_3yr
quan
returns_5yr
quan

In [55]:
quan

['min_sip',
 'min_lumpsum',
 'expense_ratio',
 'fund_size_cr',
 'fund_age_yr',
 'risk_level',
 'rating',
 'returns_1yr',
 'returns_3yr',
 'returns_5yr']

In [56]:
qual

['sortino', 'alpha', 'sd', 'beta', 'sharpe']

# Perform descriptive analysis

In [57]:
import numpy as np

In [58]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%",
                                "Q3=75%","99%","Q4=100%","IQR","1.5rule","Lesser","Greater","Min","Max","kurtosis","skew","Var","Std"],columns=quan)
for columnName in quan:    
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1=25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2=50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3=75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4=100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3=75%"]-descriptive[columnName]["Q1=25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1=25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3=75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()
    descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
    descriptive[columnName]["skew"]=dataset[columnName].skew()
    descriptive[columnName]["Var"]=dataset[columnName].var()
    descriptive[columnName]["Std"]=dataset[columnName].std()

In [59]:
descriptive

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
Mean,656.375839,2687.248322,0.672685,3620.765101,8.127517,4.208054,2.845638,3.815436,14.520134,6.742282
Median,1000.0,1000.0,0.59,685.0,10.0,4.0,3.0,3.8,12.1,7.0
Mode,1000,5000,0.39,26,10,6,3,5.7,3.9,0.0
Q1=25%,300.0,500.0,0.32,179.0,5.0,3.0,2.0,0.5,5.8,4.4
Q2=50%,1000.0,1000.0,0.59,685.0,10.0,4.0,3.0,3.8,12.1,7.0
Q3=75%,1000.0,5000.0,0.92,4002.0,10.0,6.0,4.0,5.4,22.3,9.7
99%,1000.0,5000.0,2.1116,28426.16,10.0,6.0,5.0,25.42,43.908,17.672
Q4=100%,1000.0,10000.0,2.2,33049.0,10.0,6.0,5.0,130.8,51.8,21.1
IQR,700.0,4500.0,0.6,3823.0,5.0,3.0,2.0,4.9,16.5,5.3
1.5rule,1050.0,6750.0,0.9,5734.5,7.5,4.5,3.0,7.35,24.75,7.95
Lesser,-750.0,-6250.0,-0.58,-5555.5,-2.5,-1.5,-1.0,-6.85,-18.95,-3.55
Greater,2050.0,11750.0,1.82,9736.5,17.5,10.5,7.0,12.75,47.05,17.65
Min,0,0,0.0,10,1,1,0,-14.7,0.0,-4.1
Max,1000,10000,2.2,33049,10,6,5,130.8,51.8,21.1
kurtosis,-1.337246,-1.353209,0.953463,7.226853,-0.679068,-1.400213,-0.447371,86.06639,0.518208,-0.181878
skew,-0.459113,0.275735,1.108957,2.582037,-0.993901,-0.29918,-0.434906,8.143643,0.920796,0.071174
Var,141530.019953,5173417.377109,0.227589,37976477.491747,7.27417,3.111827,1.969254,143.58199,105.255808,22.219349
Std,376.204758,2274.514756,0.477063,6162.50578,2.697067,1.764037,1.403301,11.98257,10.259425,4.71374

In [60]:
dataset.corr(numeric_only=True)

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
min_sip,1.000000,0.254397,0.253574,-0.113105,0.161345,0.107437,0.093387,-0.098625,0.096548,0.021508
min_lumpsum,0.254397,1.000000,0.023588,-0.270432,-0.144792,-0.224148,0.226098,0.215109,-0.149047,-0.210130
expense_ratio,0.253574,0.023588,1.000000,-0.164833,0.197183,0.568259,-0.232723,0.081737,0.550400,0.173758
fund_size_cr,-0.113105,-0.270432,-0.164833,1.000000,0.204494,0.055243,0.258696,-0.153487,0.025823,0.182264
fund_age_yr,0.161345,-0.144792,0.197183,0.204494,1.000000,0.132142,0.171263,0.033432,0.109962,0.616028
risk_level,0.107437,-0.224148,0.568259,0.055243,0.132142,1.000000,-0.197109,-0.235674,0.819889,0.408555
rating,0.093387,0.226098,-0.232723,0.258696,0.171263,-0.197109,1.000000,0.289336,-0.108194,0.076071
returns_1yr,-0.098625,0.215109,0.081737,-0.153487,0.033432,-0.235674,0.289336,1.000000,-0.175864,-0.203993
returns_3yr,0.096548,-0.149047,0.550400,0.025823,0.109962,0.819889,-0.108194,-0.175864,1.000000,0.439293
returns_5yr,0.021508,-0.210130,0.173758,0.182264,0.616028,0.408555,0.076071,-0.203993,0.439293,1.000000

In [61]:
dataset.cov(numeric_only=True)

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
min_sip,141530.019953,2.176832e+05,45.509795,-2.622184e+05,163.708507,71.299655,49.301651,-444.592327,372.641030,38.140758
min_lumpsum,217683.203338,5.173417e+06,25.595275,-3.790565e+06,-888.227825,-899.356067,721.666969,5862.698168,-3478.052331,-2252.903138
expense_ratio,45.509795,2.559527e+01,0.227589,-4.845934e+02,0.253709,0.478221,-0.155799,0.467242,2.693871,0.390737
fund_size_cr,-262218.424633,-3.790565e+06,-484.593352,3.797648e+07,3398.827453,600.542445,2237.166198,-11333.922025,1632.637870,5294.499864
fund_age_yr,163.708507,-8.882278e+02,0.253709,3.398827e+03,7.274170,0.628696,0.648195,1.080451,3.042685,7.831734
risk_level,71.299655,-8.993561e+02,0.478221,6.005424e+02,0.628696,3.111827,-0.487938,-4.981612,14.838350,3.397225
rating,49.301651,7.216670e+02,-0.155799,2.237166e+03,0.648195,-0.487938,1.969254,4.865237,-1.557682,0.503192
returns_1yr,-444.592327,5.862698e+03,0.467242,-1.133392e+04,1.080451,-4.981612,4.865237,143.581990,-21.619772,-11.522076
returns_3yr,372.641030,-3.478052e+03,2.693871,1.632638e+03,3.042685,14.838350,-1.557682,-21.619772,105.255808,21.244346
returns_5yr,38.140758,-2.252903e+03,0.390737,5.294500e+03,7.831734,3.397225,0.503192,-11.522076,21.244346,22.219349

In [62]:
Lesser=[]
Greater=[]

for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

# Replacing Outlier

In [65]:
for columnName in Lesser:
    dataset[columnName][dataset[columnName]<descriptive[columnName]["Lesser"]]=descriptive[columnName]["Lesser"]
for columnName in Greater:
    dataset[columnName][dataset[columnName]>descriptive[columnName]["Greater"]]=descriptive[columnName]["Greater"]

# Again performing descriptive analysis and cross checking whether outlier is replaced

In [66]:
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1=25%","Q2=50%",
                                "Q3=75%","99%","Q4=100%","IQR","1.5rule","Lesser","Greater","Min","Max","kurtosis","skew","Var","Std"],columns=quan)
for columnName in quan:    
    descriptive[columnName]["Mean"]=dataset[columnName].mean()
    descriptive[columnName]["Median"]=dataset[columnName].median()
    descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
    descriptive[columnName]["Q1=25%"]=dataset.describe()[columnName]["25%"]
    descriptive[columnName]["Q2=50%"]=dataset.describe()[columnName]["50%"]
    descriptive[columnName]["Q3=75%"]=dataset.describe()[columnName]["75%"]
    descriptive[columnName]["99%"]=np.percentile(dataset[columnName],99)
    descriptive[columnName]["Q4=100%"]=dataset.describe()[columnName]["max"]
    descriptive[columnName]["IQR"]=descriptive[columnName]["Q3=75%"]-descriptive[columnName]["Q1=25%"]
    descriptive[columnName]["1.5rule"]=1.5*descriptive[columnName]["IQR"]
    descriptive[columnName]["Lesser"]=descriptive[columnName]["Q1=25%"]-descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Greater"]=descriptive[columnName]["Q3=75%"]+descriptive[columnName]["1.5rule"]
    descriptive[columnName]["Min"]=dataset[columnName].min()
    descriptive[columnName]["Max"]=dataset[columnName].max()
    descriptive[columnName]["kurtosis"]=dataset[columnName].kurtosis()
    descriptive[columnName]["skew"]=dataset[columnName].skew()
    descriptive[columnName]["Var"]=dataset[columnName].var()
    descriptive[columnName]["Std"]=dataset[columnName].std()

In [67]:
descriptive

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
Mean,656.375839,2687.248322,0.672685,3620.765101,8.127517,4.208054,2.845638,3.815436,14.520134,6.742282
Median,1000.0,1000.0,0.59,685.0,10.0,4.0,3.0,3.8,12.1,7.0
Mode,1000,5000,0.39,26,10,6,3,5.7,3.9,0.0
Q1=25%,300.0,500.0,0.32,179.0,5.0,3.0,2.0,0.5,5.8,4.4
Q2=50%,1000.0,1000.0,0.59,685.0,10.0,4.0,3.0,3.8,12.1,7.0
Q3=75%,1000.0,5000.0,0.92,4002.0,10.0,6.0,4.0,5.4,22.3,9.7
99%,1000.0,5000.0,2.1116,28426.16,10.0,6.0,5.0,25.42,43.908,17.672
Q4=100%,1000.0,10000.0,2.2,33049.0,10.0,6.0,5.0,130.8,51.8,21.1
IQR,700.0,4500.0,0.6,3823.0,5.0,3.0,2.0,4.9,16.5,5.3
1.5rule,1050.0,6750.0,0.9,5734.5,7.5,4.5,3.0,7.35,24.75,7.95
Lesser,-750.0,-6250.0,-0.58,-5555.5,-2.5,-1.5,-1.0,-6.85,-18.95,-3.55
Greater,2050.0,11750.0,1.82,9736.5,17.5,10.5,7.0,12.75,47.05,17.65
Min,0,0,0.0,10,1,1,0,-14.7,0.0,-4.1
Max,1000,10000,2.2,33049,10,6,5,130.8,51.8,21.1
kurtosis,-1.337246,-1.353209,0.953463,7.226853,-0.679068,-1.400213,-0.447371,86.06639,0.518208,-0.181878
skew,-0.459113,0.275735,1.108957,2.582037,-0.993901,-0.29918,-0.434906,8.143643,0.920796,0.071174
Var,141530.019953,5173417.377109,0.227589,37976477.491747,7.27417,3.111827,1.969254,143.58199,105.255808,22.219349
Std,376.204758,2274.514756,0.477063,6162.50578,2.697067,1.764037,1.403301,11.98257,10.259425,4.71374

In [68]:
cate=dataset[qual]
cate

    sortino  alpha     sd  beta sharpe
0      0.32   2.24   9.39  0.01   0.24
1      1.33   1.53   0.72  0.56    1.1
2      3.44   2.67  10.58  0.67   1.42
3      2.18  -6.37  14.99  0.85    0.9
4      3.69   1.99  10.38  0.68   1.39
..      ...    ...    ...   ...    ...
144    1.08   1.45   0.72  0.64   0.82
145    1.59   4.78   1.87   2.4   0.84
146    0.98   1.17   2.36  1.02   0.62
147    0.59   0.76   2.16  0.73   0.45
148    1.23   2.84   4.32  0.26   0.58

[149 rows x 5 columns]

In [69]:
numeric=dataset[quan]
numeric

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr
0,100,100,0.27,10,10,3,3,4.0,6.5,6.9
1,1000,1000,0.36,4288,10,1,3,5.6,4.8,5.5
2,1000,1000,0.53,157,10,5,3,2.0,18.9,9.7
3,500,1000,0.76,637,4,6,2,-0.7,17.1,0.0
4,100,100,0.61,6386,10,6,4,4.5,18.6,9.7
...,...,...,...,...,...,...,...,...,...,...
144,500,500,0.35,1238,5,1,3,5.6,4.6,5.4
145,500,500,0.33,2463,10,2,3,4.0,6.4,6.9
146,500,500,0.39,333,10,3,3,3.8,6.1,4.9
147,500,500,0.25,2065,5,3,2,2.6,5.6,0.0
148,500,500,0.38,210,10,4,3,10.8,6.6,4.5

In [70]:
Lesser

[]

In [71]:
Greater

[]

In [72]:
two=(numeric,cate)
preprocessed=pd.concat(two,axis=1)
preprocessed

,min_sip,min_lumpsum,expense_ratio,fund_size_cr,fund_age_yr,risk_level,rating,returns_1yr,returns_3yr,returns_5yr,sortino,alpha,sd,beta,sharpe
0,100,100,0.27,10,10,3,3,4.0,6.5,6.9,0.32,2.24,9.39,0.01,0.24
1,1000,1000,0.36,4288,10,1,3,5.6,4.8,5.5,1.33,1.53,0.72,0.56,1.1
2,1000,1000,0.53,157,10,5,3,2.0,18.9,9.7,3.44,2.67,10.58,0.67,1.42
3,500,1000,0.76,637,4,6,2,-0.7,17.1,0.0,2.18,-6.37,14.99,0.85,0.9
4,100,100,0.61,6386,10,6,4,4.5,18.6,9.7,3.69,1.99,10.38,0.68,1.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,500,500,0.35,1238,5,1,3,5.6,4.6,5.4,1.08,1.45,0.72,0.64,0.82
145,500,500,0.33,2463,10,2,3,4.0,6.4,6.9,1.59,4.78,1.87,2.4,0.84
146,500,500,0.39,333,10,3,3,3.8,6.1,4.9,0.98,1.17,2.36,1.02,0.62
147,500,500,0.25,2065,5,3,2,2.6,5.6,0.0,0.59,0.76,2.16,0.73,0.45
148,500,500,0.38,210,10,4,3,10.8,6.6,4.5,1.23,2.84,4.32,0.26,0.58

In [74]:
preprocessed.to_csv('preprocessed.csv', index=False)